<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Notice of Coverage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
            line-height: 1.3;
            background-color: rgb(240, 240, 237);
        }

        table {
            padding: 5px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 10px;
        }

        .header {
            text-align:
                center;
            margin-bottom: 20px;
        }

        .footer {
            text-align: left;
            color: gray;
            font-style: italic;
            padding-top: 75px;
        }

        .valuable {
            color: rgb(192, 131,
                    141);
            justify-content: center;
            text-align: center;
            padding-bottom: 20px;
        }

        .content {
            margin-bottom: 20px;
        }

        .first-col {
            font-size: 14px;
            font-weight: bold;
            min-width: 300px;
            text-align: initial;
            max-width:
                300px%;
        }

        .second-col {
            font-size: 14px;
            min-width: 50%;
            max-width: 50%;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
        }

        .heading {
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 20px;
            justify-content: center;
            text-align: center;
        }

        .content h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .underline {
            border-bottom: 1px solid black;
            width: 100%;
            display:
                block;
            font-size: 16px;
            font-weight: bold;
            padding-top: 15px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="{{imageBase64}}" alt="Image" style="width: 140px; height: 140px;">
        </div>

        <h1 class="valuable">Valuable Insurance</h1>

        <div class="content">
            <div class="heading">Client Notice of Coverage</div>

            <table>
                <tr style="display: flex;">
                    <td class="first-col">Insurer</td>
                    <td class="second-col">
                        Am Specialty Insurance Company
                        <br />
                        1717 Main Street, STE 2650
                        <br />
                        Dallas, TX 75201
                    </td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Producer</td>
                    <td class="second-col">
                        Brokery, LLC
                        <br />
                        8 The Green, #17131
                        <br />
                        Dover, DE 19901
                    </td>
                </tr>
            </table>

            <p>The insurance provided by this endorsement contract consists of the
                following coverage.
                <br />
                <br />
                In return for payment of premium and subject to all the terms of the
                policy we agree to provide the insurance as stated in the insuring
                agreement.
            </p>

            <div class="underline">Contract / Endorsement Detail</div>

            <table style="padding-top: 15px;">
                <tr style="display: flex;">
                    <td class="first-col">Named Insured</td>
                    <td class="second-col">{{insurer_name}}
                        <br />
                        {{location_address}}
                        <br />{{location_street}}
                        {{location_city}},
                        {{location_zip}}
                    </td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Contract Number</td>
                    <td class="second-col">ON00001-24</td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Issue / Effective Date</td>
                    <td class="second-col">{{issue_date}}</td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Expiration Date</td>
                    <td class="second-col">{{expiration_date}}</td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Insured Item</td>
                    <td class="second-col">{{item_insured}}</td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Insured Value (Limit of Coverage)</td>
                    <td class="second-col">{{insured_value}}</td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Premium (Fully Earned) </td>
                    <td class="second-col">{{premium}}</td>
                </tr>
                <tr style="display: flex;">
                    <td class="first-col">Deductible</td>
                    <td class="second-col">{{deductible}}</td>
                </tr>
            </table>

        </div>
        <div class="footer">
            <p>(06/2024- 002 ONCE – Client Notice)</p>
        </div>
    </div>
</body>

</html>