<html>
  <head>
    <title>document</title>
  </head>
  <body>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzF42jf84ixGkZTvAh53U7Qb2Lerl6wfKW_smgEzjB2Q&s"
      alt="Should be paramount logo"
      height="115px"
      style="padding:0; margin:0; margin-left: -10px;"
    />
    <div
      style="padding: 20px; word-spacing: 1.5px; font-family:'Segoe UI', Tahoma, roboto, Geneva, Verdana, sans-serif; line-height: 1.2em;"
    >
      <h3
        style="text-align:center; padding-bottom: 5px; margin-top: -10px;"
      >CONFIRMATION OF COVER</h3>

      <p style="font-size: 13px; padding-bottom: 8px;">We are pleased to advise
        that we have issued Marine Cargo Insurance Certificate in respect of the
        following shipment which is valid and binding for SC Protect
        policyholders as to the date specified below:</p>

      <p style="font-size: 13px;">Details of the Policy as follows:</p>
      <div style="font-size: 13px; padding-left: 5px; padding-bottom: 30px;">

        <div style="padding-bottom: 13px">
          <b style="display: inline-block; width: 175px;">MRN-COC No.</b>
          <span style="display: inline-block; width: 5px;">:</span>
          <span style="display: inline-block;">{{mrnCocNumber}}</span>
        </div>

        <div style="padding-bottom: 13px">
          <b style="display: inline-block; width: 175px;">Date Issued</b>
          <span style="display: inline-block; width: 5px;">:</span>
          <span style="display: inline-block;">{{dateIssued}}</span>
        </div>

        <div style="padding-bottom: 3px;">
          <b style="display: inline-block; width: 175px;">The Assured</b>
          <span style="display: inline-block; width: 5px;">:</span>
          <span style="display: inline-block;">
            <span>{{assuredName}}</span>
          </span>
        </div>

        <div style="padding-bottom: 3px; display: flex;">
          <b
            style="display: inline-block; min-width: 180px; visibility: hidden;"
          >The Assured</b>
          <span
            style="display: inline-block; width: 5px; visibility: hidden;"
          >:</span>
          <span style="display: inline-block; text-align: justify;">
            <span>{{assuredAddress}}</span>
          </span>
        </div>
      </div>

      <b style="font-size: 14px; padding-left: 5px; padding-bottom: 10px;">
        DESCRIPTION OF RISK</b>
      <div style="font-size: 13px; padding-left: 8px;">
        <div style="display: flex;  padding-bottom: 3px;">
          <b
            style="width:175px; min-width: 175px; padding-bottom: 13px;"
          >Interest Insured</b>
          <span style="display:inline-block; min-width: 8px;">:</span>
          <span style="display:inline-block">{{interestInsured}}</span>
        </div>

        <div style="padding-bottom: 13px">
          <b style="display: inline-block; min-width: 170px;">Insured Value</b>
          <span style="display: inline-block; width: 5px;">:</span>
          <span style="display: inline-block;">{{insuredValue}}</span>
        </div>

        <div style="padding-bottom: 10px">
          <b style="display: inline-block; width: 170px;">Premium</b>
          <span style="display: inline-block; width: 5px;">:</span>
          <span style="display: inline-block;">{{premiumAmount}}</span>
        </div>

        <div style="padding-bottom: 5px; display:flex">
          <b style="display: inline-block; min-width: 170px;">Voyage/Transit</b>
          <span style="display: inline-block; width: 5px;">:</span>
        </div>

        {{#if viaAirDate}}
          <div style="padding-bottom: 15px;">
            <div>
              <b
                style="display: inline-block; font-size: 14px; padding-left: 170px; min-width: 170px;"
              >AIR SHIPMENT</b></div>
            <div
              style="display: flex; justify-content: space-between; padding-left: 170px"
            >
              <div style="flex: 1; padding-right: 10px;">
                <b>From:</b>
                {{voyageFrom}}
              </div>
              <div style="flex: 1; padding-left: 10px;">
                <b>To:</b>
                {{voyageTo}}
              </div>
            </div>
            <div>
              <div style="padding-left: 170px;">
                <b>Date of Delivery:</b>
                <div style="display: inline-block;">{{viaAirDate}}</div>
              </div>
            </div>
          </div>
        {{/if}}

        {{#if viaSeaDate}}
          <div style="padding-bottom: 5px;">
            <div>
              <b
                style="display: inline-block; font-size: 14px; padding-left: 170px; min-width: 170px;"
              >SEA SHIPMENT</b></div>
            <div
              style="display: flex; justify-content: space-between; padding-left: 170px"
            >
              <div style="flex: 1; padding-right: 10px;">
                <b>From:</b>
                {{voyageFrom}}
              </div>
              <div style="flex: 1; padding-left: 10px;">
                <b>To:</b>
                {{voyageTo}}
              </div>
            </div>
            <div>
              <div style="padding-left: 170px;">
                <b>Date of Delivery:</b>
                <div style="display: inline-block;">{{viaSeaDate}}</div>
              </div>
            </div>
          </div>
        {{/if}}

      </div>
      <div>
        <b
          style="font-size: 14px; padding-left: 2px; padding-bottom: -2px;"
        >COVERAGE AFFORDED</b>
        <div style="padding-bottom: 50px;">
          <p style="padding-bottom: 30px; font-size: 13px;">
            Loss or Damage to the cargo/goods, including Late Delivery and
            Return to Sender</p>
          <p style="padding-bottom: 15px; font-size: 13px;">This Certificate of
            Cover is subject to the terms and conditions of Shipping Cart’s Open
            Marine Policy (SC Protect) "{{mopValue}}"</p>
          <p style="font-size: 13px;">
            The comprehensive information within the master policy, located in
            the terms and conditions section of the Shipping Cart website. This
            document will serve as the point of reference for all assessments
            and inquiries.</p>
        </div>
      </div>

      <div style="position: relative; right:0px; padding-top: 5px;">
        <svg
          style="position: absolute; padding-left: 470px; right: 0px; bottom: 2px;"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="300px"
          y="0px"
          width="120px"
          height="120px"
          viewBox="0 0 1024 688"
          enable-background="new 0 0 1024 688"
          xml:space="preserve"
        >
          <path
            fill="#000000"
            opacity="1.000000"
            stroke="none"
            d="
M404.576782,142.638336 
	C386.251617,147.026108 370.449646,155.695877 355.136627,165.672256 
	C337.453857,177.192535 322.908661,191.939987 309.633881,208.076065 
	C292.656403,228.712967 277.911743,250.858780 265.895142,274.749420 
	C255.189865,296.032959 244.942001,317.528168 238.480530,340.586060 
	C232.932465,360.384399 229.206314,380.544556 229.491531,401.117096 
	C229.701569,416.266571 231.099472,431.547333 238.690018,445.205353 
	C250.865860,467.113861 270.409058,477.580811 294.797668,478.636047 
	C321.399109,479.786987 345.427582,471.007507 368.223846,457.772705 
	C392.286102,443.802948 412.268982,425.374084 430.407959,404.516541 
	C435.866150,398.240387 440.244568,391.089386 446.373138,385.383301 
	C448.116455,383.760162 448.687408,381.342957 449.302185,379.099121 
	C452.552460,367.235931 455.644196,355.328369 459.000977,343.495789 
	C460.131927,339.509033 461.678406,335.605804 463.394440,331.827698 
	C465.756866,326.626373 470.830322,323.774475 475.251526,324.753784 
	C479.965424,325.797913 483.458405,330.634857 483.255920,336.605774 
	C482.972046,344.976807 479.507538,352.473724 475.639954,359.642395 
	C471.933258,366.512787 467.428650,372.949127 463.370636,379.634460 
	C458.100555,388.316650 457.412201,398.246307 456.229980,407.937378 
	C455.550018,413.510986 455.676971,419.243439 457.385345,424.780579 
	C459.774170,432.523041 464.135864,433.721222 470.178528,428.336975 
	C481.502625,418.246765 489.978577,405.853760 497.677155,393.039490 
	C504.497711,381.686676 511.604401,370.518219 518.522949,359.231262 
	C521.692383,354.060577 523.406738,348.305847 525.834717,342.839691 
	C527.376709,339.368164 530.367554,338.101349 533.955383,338.208771 
	C536.629028,338.288757 538.132874,340.056396 538.981995,342.416504 
	C539.865601,344.872284 538.627380,346.933563 537.681580,349.070099 
	C530.475830,365.348816 528.946838,382.370026 531.315002,399.832794 
	C531.819885,403.555603 533.375305,407.152435 537.297974,408.396790 
	C541.430542,409.707733 544.812317,407.483215 547.568665,404.664459 
	C555.402588,396.653168 560.470764,386.849762 565.567322,377.003540 
	C567.752625,372.781647 568.727844,368.079071 571.331604,364.098022 
	C575.875244,357.150879 578.287598,349.436768 579.651123,341.331360 
	C580.432922,336.684082 584.666260,333.709991 588.936707,334.783051 
	C592.278748,335.622833 593.534119,339.114471 592.406982,343.850952 
	C588.144470,361.762939 585.858276,379.752991 589.250916,398.164978 
	C592.206299,414.204224 599.612732,417.576569 613.820923,409.820984 
	C624.114197,404.202362 628.909180,395.920837 630.890991,384.634888 
	C633.038696,372.403931 636.251953,360.346436 639.706604,348.358856 
	C644.484009,331.781219 648.301514,314.929291 652.779236,298.261810 
	C654.800659,290.737732 657.513855,283.402374 659.756287,275.934326 
	C667.506592,250.122345 676.404175,224.774033 689.634277,201.156067 
	C691.129883,198.486176 693.061890,196.305084 696.141846,195.278809 
	C701.188782,193.597107 704.463684,194.803635 706.934082,199.507843 
	C711.099426,207.439590 710.892944,216.014984 709.795532,224.429459 
	C706.567810,249.180222 699.016907,272.786194 689.744568,295.861145 
	C680.442139,319.011078 671.174683,342.186066 660.162537,364.596130 
	C654.511230,376.096649 648.888977,387.633606 641.430847,398.141785 
	C636.293091,405.380707 636.159363,414.184235 634.381287,422.382172 
	C628.774719,448.232056 623.683655,474.193420 618.341553,500.101013 
	C613.377991,524.172424 608.618530,548.290771 603.246216,572.271240 
	C600.021179,586.666748 596.130493,600.939026 591.876587,615.067322 
	C589.714966,622.246277 587.684021,629.547302 584.279724,636.360840 
	C582.838928,639.244629 581.074524,641.222290 577.435791,642.649963 
	C576.946655,635.439270 577.728027,628.890442 580.286499,622.596558 
	C580.988220,620.870178 581.316406,619.186157 581.564209,617.359863 
	C583.416626,603.708557 587.277527,590.520264 590.882385,577.264954 
	C592.397522,571.693787 593.286926,565.951111 594.425842,560.279358 
	C597.388611,545.524658 600.811157,530.842346 603.172852,515.991577 
	C606.879700,492.682220 613.481506,469.967682 616.871399,446.601105 
	C617.751404,440.535553 619.582581,434.597931 621.145325,428.645813 
	C621.919189,425.698639 622.205750,422.851257 621.347595,419.993683 
	C619.035522,419.129608 617.676880,420.751312 616.132751,421.528290 
	C598.394409,430.454224 583.612732,424.085114 577.953979,405.138092 
	C575.987976,398.555389 575.781067,391.718109 574.583374,383.981506 
	C571.716187,389.441559 569.288391,394.110474 566.818237,398.756805 
	C564.071472,403.923370 560.843201,408.733246 556.793579,413.012115 
	C550.587524,419.569489 543.042236,421.460083 534.463623,419.611481 
	C525.379272,417.653900 521.030579,411.233032 518.692383,402.745331 
	C517.135193,397.092834 518.026672,391.264526 517.324951,385.414642 
	C514.743103,386.036652 514.219849,387.971771 513.292908,389.415741 
	C505.827240,401.046143 498.690369,412.900330 490.378021,423.959717 
	C485.060211,431.035004 479.339752,437.840271 471.170471,441.817566 
	C462.757690,445.913422 451.476868,441.929382 447.080078,433.681793 
	C442.650787,425.373230 442.854065,416.364960 442.997375,407.868622 
	C439.943573,410.601593 436.349762,413.246948 433.446655,416.507355 
	C412.529633,439.998840 388.765015,459.987671 360.525452,474.008942 
	C334.295837,487.032166 306.639221,493.296936 277.265778,487.251709 
	C256.984741,483.077728 240.407883,472.815399 228.843796,455.481323 
	C222.596237,446.116547 219.582260,435.353546 217.875565,424.208679 
	C215.333420,407.608398 216.095535,391.083862 217.800812,374.457428 
	C219.939880,353.601685 226.112656,333.797638 233.570679,314.488556 
	C239.040176,300.327881 245.295288,286.410889 252.814072,273.039734 
	C259.732880,260.735535 266.034607,248.052429 273.862854,236.299057 
	C279.833313,227.335037 286.401245,218.748199 292.799774,210.066452 
	C301.816956,197.831589 312.083008,186.844788 322.884949,176.323944 
	C337.511658,162.077896 354.026825,150.568649 372.854126,142.277344 
	C380.471497,138.922745 387.909760,135.365128 396.008575,133.274780 
	C440.050476,121.907372 483.868347,145.623947 494.249084,191.860382 
	C497.345215,205.650787 495.290253,218.942627 493.198059,232.457397 
	C490.416260,250.426285 481.685272,265.646240 471.816772,280.387482 
	C469.462708,283.903900 465.538239,283.807373 461.294861,280.871582 
	C457.354523,278.145386 459.018890,275.741913 461.179230,273.036163 
	C470.439056,261.438629 477.306793,248.698318 480.270050,233.974548 
	C484.144104,214.725296 485.488647,195.803680 476.451508,177.352798 
	C463.188599,150.274353 433.564331,135.668625 404.576782,142.638336 
M693.534119,258.516113 
	C692.821472,256.536957 693.103760,254.621536 693.742615,252.663940 
	C697.725952,240.458496 699.816589,227.915192 700.313110,215.097900 
	C700.389648,213.124252 700.412354,211.139587 697.411316,209.244354 
	C672.008484,257.701477 662.627808,310.874603 647.801758,363.228546 
	C651.390564,362.114166 650.473755,359.943970 651.347473,358.565216 
	C660.509094,344.107513 666.833618,328.270599 673.102783,312.444702 
	C680.097046,294.788605 686.747437,276.996338 693.534119,258.516113 
z"
          />
          <path
            fill="#000000"
            opacity="1.000000"
            stroke="none"
            d="
M691.938416,395.301086 
	C687.676819,392.942780 687.150879,389.802002 688.558716,385.771576 
	C690.804932,379.340820 692.775208,372.813812 694.875122,366.331696 
	C695.382080,364.766815 696.147644,363.241577 695.137390,360.763733 
	C690.096191,366.926666 685.276611,372.736481 680.545959,378.617920 
	C668.191895,393.977234 657.962341,410.731689 648.423645,427.924042 
	C647.019470,430.454895 645.084961,432.456329 643.226501,434.581818 
	C641.548950,436.500305 639.843750,436.185516 637.606628,434.984741 
	C640.606079,417.227142 651.256165,403.471710 660.460876,388.944550 
	C667.239319,378.246490 675.444153,368.642029 682.864624,358.441681 
	C687.259827,352.400116 692.280090,346.810394 697.071289,341.060791 
	C700.432922,337.026733 705.024963,335.761597 710.026978,335.742157 
	C715.515625,335.720825 718.369080,339.801270 716.218994,344.789612 
	C710.680603,357.639435 706.419739,370.929749 702.327820,384.281525 
	C701.796082,386.016632 701.585205,387.849274 701.212219,389.633911 
	C700.235413,394.307709 696.757446,396.582977 691.938416,395.301086 
z"
          />
          <path
            fill="#000000"
            opacity="1.000000"
            stroke="none"
            d="
M522.384094,482.471008 
	C523.861877,476.937866 525.090149,471.758911 526.617004,466.669525 
	C527.978455,462.131287 532.352600,459.537659 536.006470,461.088806 
	C540.543396,463.014801 539.839966,466.943756 538.808655,470.500092 
	C534.735107,484.546448 530.505981,498.548096 526.274475,512.548157 
	C519.545105,534.812439 512.402283,556.966309 508.928619,580.069336 
	C508.289093,584.322815 507.865051,588.603821 506.296387,592.711670 
	C505.114685,595.806152 502.964478,597.337341 500.057129,598.706543 
	C496.342010,592.602783 497.636871,586.234070 498.201752,580.447205 
	C499.256470,569.641479 501.050629,558.811829 503.710083,548.288574 
	C505.923828,539.529053 508.695770,530.808411 511.142914,522.119995 
	C514.827087,509.039612 519.345581,496.165802 522.384094,482.471008 
z"
          />
        </svg>
        <div
          style="position: absolute; right: 0px; font-size: 11px; text-align:right; border-top: 1px solid black; width: 150px;"
        >Authorized Signature</div>
      </div>

    </div>
  </body>
</html>